Repository Chenxiao-Tian/dex_proxy_habor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build enclaves (ts), build containers (ts), test drft

Path conditions:
  build enclaves (ts): any of: .gitlab-ci.yml, Dockerfile, container/**/*, resources/**/*, Dockerfile.ts, Dockerfile.deepbook, ts/**/*
  build containers (ts): any of: .gitlab-ci.yml, Dockerfile, container/**/*, resources/**/*, Dockerfile.ts, Dockerfile.deepbook, ts/**/*
  test drft: any of: .gitlab-ci.yml, drft/**/*, py_dex_common/**/*, py_dex_web3/**/*, DockerfileTests.dockerfile, .dockerignore-tests

simplification
  README.md
  README_TESTS.md
Due: none

Update CI pipeline dependencies - make build job independent on test jobs
  .gitlab-ci.yml
Due: build enclaves (ts), build containers (ts), test drft

make drift RO dex-proxy working again
  drft/dex_proxy/clients_pool.py
  drft/dex_proxy/drift.py
  drft/dex_proxy/drift_api.py
  drft/dex_proxy/drift_utils.py
  drft/dex_proxy/event_subscribers.py
  drft/dex_proxy/main.py
  drft/dex_proxy/makers.py
  drft/dex_proxy/order_cache.py
  drft/dex_proxy/rest_order_status_syncer.py
  drft/examples/query_orders.py
Due: test drft

PAN-11056 drift multiple sub accounts
  drft/dex_proxy/clients_pool.py
  drft/dex_proxy/drift.py
  drft/dex_proxy/drift_api.py
  drft/dex_proxy/drift_connector.py
  drft/dex_proxy/drift_utils.py
  drft/dex_proxy/event_subscribers.py
  drft/dex_proxy/rest_order_status_syncer.py
  drft/drft-readonly.config.json
  drft/examples/__init__.py
  drft/examples/cancel_all_order.py
  drft/examples/cancel_all_orders.py
  drft/examples/cancel_order.py
  drft/examples/cancel_order_by_id.py
  drft/examples/cancel_order_by_user_id.py
  drft/examples/deposit_into_account.py
  drft/examples/fetch_markets.py
  drft/examples/get_contract_data.py
  drft/examples/get_margin_data.py
  drft/examples/get_markets.py
  drft/examples/insert_perp_order.py
  drft/examples/insert_spot_order.py
  drft/examples/insert_swap_order.py
  drft/examples/make_drift_client.py
  drft/examples/query_balance.py
  drft/examples/query_live_orders.py
  drft/examples/query_order.py
  drft/examples/query_orders.py
  drft/examples/query_portfolio.py
  drft/examples/request_dex_proxy/insert_swap_order.py
  drft/examples/request_dex_proxy/query_portfolio.py
  drft/examples/withdraw_from_account.py
  drft/pytest.ini
  drft/tests/functional/dex_proxy_api_test_helper.py
  drft/tests/functional/exchange_helper.py
  drft/tests/functional/market_data.py
  drft/tests/functional/order_generator.py
  drft/tests/functional/test_orders_management.py
  py_dex_common/py_dex_common/dex_proxy.py
Due: test drft

Add deposit withdraw subs
  drft/dex_proxy/drift.py
Due: test drft

removed prod urls
  drft/drft-readonly.config.json
  drft/drft.config.json
Due: test drft

fix
  drft/dex_proxy/drift.py
Due: test drft

Add instructions for skipping functional tests in CI/CD
  README_TESTS.md
Due: none

Add Harbor connector and local testing docs
  harbor/LOCAL_TESTING.md
  harbor/__init__.py
  harbor/demo_place_cancel.py
  harbor/dex_proxy/__init__.py
  harbor/dex_proxy/client.py
  harbor/dex_proxy/exceptions.py
  harbor/dex_proxy/harbor.py
  harbor/dex_proxy/main.py
  harbor/dex_proxy/utils.py
  harbor/harbor.config.json
  harbor/setup.py
  tests/harbor/conftest.py
  tests/harbor/test_harbor_connector.py
Due: none

feat(harbor): clean branch and reapply integration code
  harbor/LOCAL_TESTING.md
  harbor/__init__.py
  harbor/demo_place_cancel.py
  harbor/dex_proxy/__init__.py
  harbor/dex_proxy/client.py
  harbor/dex_proxy/exceptions.py
  harbor/dex_proxy/harbor.py
  harbor/dex_proxy/main.py
  harbor/dex_proxy/utils.py
  harbor/harbor.config.json
  harbor/setup.py
Due: none

docs(harbor): mention inbound address refresh
  README.md
  aiohttp/client.py
  aiohttp/web.py
  examples/harbor/demo_place_cancel.py
  harbor/dex_proxy/client.py
  harbor/dex_proxy/harbor.py
  tests/test_harbor_webserver_endpoints.py
Due: none

fix(harbor): dedupe route registrations; drop explicit HEAD
  harbor/harbor.config.json
Due: none

fix(web): de-dupe route registrations; ignore duplicate HEAD from GET
  py_dex_common/py_dex_common/web_server/web_server.py
Due: test drft

fix(web): de-dupe/ignore duplicate GET→HEAD route registration
  py_dex_common/py_dex_common/web_server/web_server.py
Due: test drft

Harbor: sync to today's latest (HTTP endpoints, legacy 200[], depth empty snapshot, cancel-all NOOP, error normalization)
  harbor/dex_proxy/client.py
  harbor/dex_proxy/exceptions.py
  harbor/dex_proxy/harbor.py
  harbor/dex_proxy/utils.py
  harbor/harbor.config.json
Due: none

Harbor: sync from harbor_local (source of truth) — HTTP endpoints, legacy 200[], empty depth snapshot, cancel-all NOOP, normalized errors.
  harbor/dex_proxy/harbor.py.bak
  harbor/dex_proxy/main.py
Due: none

Full sync: enforce local harbor_local as source of truth (2025-11-01).
  .gitignore
  aiohttp_local_bak_1761973810/__init__.py
  aiohttp_local_bak_1761973810/client.py
  aiohttp_local_bak_1761973810/web.py
  harbor/dex_proxy/client.py
  harbor/dex_proxy/exceptions.py
  harbor/dex_proxy/harbor.py.bak
  harbor/dex_proxy/main.py
  harbor/dex_proxy/utils.py
  harbor/harbor.config.json
  harbor/kuru/test-local-wallet.json
  harbor/vendor/pyutils/exchange_apis/dex_common.py
  py_dex_common/py_dex_common/web_server/web_server.py
Due: test drft

fix(harbor): align error envelopes and graceful 404 handling
  README.md
  aiohttp/client.py
  aiohttp/web.py
  examples/harbor/demo_place_cancel.py
  harbor/dex_proxy/client.py
  harbor/dex_proxy/harbor.py
  tests/test_harbor_webserver_endpoints.py
Due: none

Flatten Vasquez strategy as regular folder (remove submodule)
  vasquez/README.md
  vasquez/config/test_dex_proxy_drift_quoter.config.json
  vasquez/config/test_gte_quoter.config.json
  vasquez/setup.py
  vasquez/src/common/constants.py
  vasquez/src/common/rest_client.py
  vasquez/src/common/types.py
  vasquez/src/common/utils.py
  vasquez/src/common/websocket_client.py
  vasquez/src/data_providers/__init__.py
  vasquez/src/data_providers/balance_provider.py
  vasquez/src/gateways/dex_proxy/dex_proxy_api_test_helper.py
  vasquez/src/gateways/dex_proxy/dex_proxy_gateway.py
  vasquez/src/gateways/dex_proxy/misc.py
  vasquez/src/gateways/gateway.py
  vasquez/src/gateways/gateway_factory.py
  vasquez/src/gateways/gte/gte_gateway.py
  vasquez/src/gateways/models.py
  vasquez/src/main.py
  vasquez/src/strategies/__init__.py
  vasquez/src/strategies/common/__init__.py
  vasquez/src/strategies/common/bbo_pricer.py
  vasquez/src/strategies/common/dto/book.py
  vasquez/src/strategies/common/md_sources/binance.py
  vasquez/src/strategies/common/md_sources/md_source_base.py
  vasquez/src/strategies/common/mds_sources_factory.py
  vasquez/src/strategies/common/order_manager.py
  vasquez/src/strategies/common/pricing_model/mid_price.py
  vasquez/src/strategies/common/pricing_model/price_model.py
  vasquez/src/strategies/common/quoter.py
  vasquez/src/strategies/common/retreat_manager.py
  vasquez/src/strategies/common/utils.py
  vasquez/src/strategies/naive_mm.py
  vasquez/src/strategies/strategy.py
  vasquez/src/strategies/strategy_factory.py
Due: none

docs: add Vasquez Harbor testing guide and helpers
  .env.example
  TESTING_VASQUEZ_HARBOR.md
  scripts/run_harbor_proxy_local.bat
  scripts/run_harbor_proxy_local.sh
  scripts/run_vasquez_local.bat
  scripts/run_vasquez_local.sh
  vasquez/examples/run_vasquez_binance.py
  vasquez/marketdata/binance_client.py
Due: none

Add AI startup feature collector repository
  ai_startup_feature_collector/.env.template
  ai_startup_feature_collector/README.md
  ai_startup_feature_collector/ai_startup_feature_collector/__init__.py
  ai_startup_feature_collector/ai_startup_feature_collector/cli.py
  ai_startup_feature_collector/ai_startup_feature_collector/config.py
  ai_startup_feature_collector/ai_startup_feature_collector/models.py
  ai_startup_feature_collector/ai_startup_feature_collector/pipelines/__init__.py
  ai_startup_feature_collector/ai_startup_feature_collector/pipelines/external.py
  ai_startup_feature_collector/ai_startup_feature_collector/pipelines/founders.py
  ai_startup_feature_collector/ai_startup_feature_collector/pipelines/fundamentals.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/__init__.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/base.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/crunchbase.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/github.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/linkedin.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/open_corporates.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/product_hunt.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/serp.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/social.py
  ai_startup_feature_collector/ai_startup_feature_collector/sources/y_combinator.py
  ai_startup_feature_collector/ai_startup_feature_collector/storage/__init__.py
  ai_startup_feature_collector/ai_startup_feature_collector/storage/writer.py
  ai_startup_feature_collector/configs/demo.yml
  ai_startup_feature_collector/examples/build_dataset.py
  ai_startup_feature_collector/pyproject.toml
  ai_startup_feature_collector/tests/test_config.py
Due: none

Add committed Harbor config and staging env defaults
  .env.example
  .gitignore
  TESTING_VASQUEZ_HARBOR.md
  harbor/dex_proxy/harbor.py
  harbor/harbor.config.json
  scripts/run_harbor_proxy_local.bat
  scripts/run_harbor_proxy_local.sh
  scripts/run_vasquez_local.bat
  scripts/run_vasquez_local.sh
  vasquez/examples/run_vasquez_binance.py
  vasquez/marketdata/binance_client.py
Due: none

Remove staged Harbor credentials
  .env.example
  .gitignore
  TESTING_VASQUEZ_HARBOR.md
  harbor/dex_proxy/harbor.py
  harbor/harbor.config.json
  scripts/run_harbor_proxy_local.bat
  scripts/run_harbor_proxy_local.sh
  scripts/run_vasquez_local.bat
  scripts/run_vasquez_local.sh
  vasquez/examples/run_vasquez_binance.py
  vasquez/marketdata/binance_client.py
Due: none

Harbor handover: full adapter code from C:/Users/92585/New3/dex_proxy_habor
  .env
  harbor/New 文本文档.txt
  harbor/dex_proxy/New 文本文档.txt
  harbor/dex_proxy/__init__.py
  harbor/dex_proxy/compat_depth_binance.py
  harbor/dex_proxy/compat_routes.py
  harbor/dex_proxy/compat_ticker_binance.py
  harbor/dex_proxy/main.py
  harbor/dex_proxy/utils.py
  harbor_diag/cancel_order.txt
  harbor_diag/cancel_request.txt
  harbor_diag/client.py
  harbor_diag/depth_ethusdt.json
  harbor_diag/env.txt
  harbor_diag/exceptions.py
  harbor_diag/get_markets.json
  harbor_diag/harbor.config.json
  harbor_diag/harbor.py
  harbor_diag/insert_order.txt
  harbor_diag/list_open_orders.json
  harbor_diag/main.py
  harbor_diag/ping.json
  harbor_diag/public_orders.json
  harbor_diag/routes.json
  harbor_diag/utils.py
  vasquez/examples/run_vasquez_binance.py
  vasquez/marketdata/binance_client.py
  vasquez_configs/harbor_dex_proxy.json
Due: none
